textarea {
    resize: none;
    padding: 10px;
}

body { 
        background-image: url(http://shmector.com/_ph/17/990955453.png) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;


}